<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Uniform.Deploy.PrefetchData.Enabled" value="false" />
      <setting name="Uniform.API.Token" set:value="1234" />
        
        <setting name="Publishing.TimeBeforeStatusExpires" set:value="00:22:00" />
        <setting name="Uniform.Deploy.Timeout" set:value="00:20:00" />
        
        <!-- 8 is 13m -->
        <setting name="Uniform.Deploy.PrefetchData.ThreadsCount" set:value="4" />
        <setting name="Uniform.Data.Sitemap.GenerateTimeout" set:value="00:02:30" />
        <setting name="Uniform.Data.Page.GenerateTimeout" set:value="00:01:30" />
        <setting name="Uniform.Data.Item.GenerateTimeout" set:value="00:01:30" />
        <setting name="Uniform.Deploy.PrefetchDatasources" set:value="false" />

        <!-- 370MB means 10k pages -->
        <setting name="Uniform.Services.RenderingsFactoryHelper.CacheSize" value="370MB" />
		
    </settings>
    <sites>
      <site name="sugcon" 
        set:publishEndpoint="http://localhost:3000" />
    </sites>
    <linkManager>
      <providers>
        <!-- uniform does not support more than 1 language per site yet (multiple languages are supported via using separate domains and therefore separate sites) -->
        <add set:languageEmbedding="never" />
        <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
        <add set:lowercaseUrls="true" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
