<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
	  <!-- optional, only if you are tunneling to Sitecore -->
      <setting name="Media.MediaLinkServerUrl" set:value="https://sugcon-demo-330730-cm.azurewebsites.net" />	
      <!-- this is required to be able to serve media from Sitecore -->
      <setting name="Media.AlwaysIncludeServerUrl" set:value="true" />
      <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
      <setting name="Media.LowercaseUrls" value="true" />
    </settings>
  </sitecore>
</configuration>
